{% extends "base.html" %}
{% block title %}Блогикум{% endblock %}
{% block content %}
<h1>Лента записей</h1>
<div class="navbar-brand">
  {% for posts in post %}
  <hr>
  <div class="navbar-brand" id="navbarNav" >
    <ul>
      <li class="nav-item">
      Место: {{posts.location}}
      </li>
      <li class="nav-item">
      Дата: {{posts.date}}
      </li>
      <li class="nav-item">
      Категория: <a class="active" href="{% url 'blog:category_posts' posts.category %}"><ins>{{posts.category}}</ins></a>
      </li>
    </ul>
    {{posts.text|truncatewords:10}}
    <a class="nav-link" href="{% url 'blog:post_detail' posts.id %}"><ins>Читать полный текст</ins></a>

    {% endfor %} 
  </div>
</div>
{% endblock %}